language: ruby
sudo: false
cache: bundler
rvm:
  - 1.9.3
  - 2.0.0
  - 2.1
  - 2.2
env:
  - 'TEST_RAILS_VERSION="~> 3.0.0"'
  - 'TEST_RAILS_VERSION="~> 3.1.0"'
  - 'TEST_RAILS_VERSION="~> 3.2.0"'
  - 'TEST_RAILS_VERSION="~> 4.0.0"'
  - 'TEST_RAILS_VERSION="~> 4.1.0"'
  - 'TEST_RAILS_VERSION="~> 4.2.0"'
